<%= form_with(model: meal_plan, class: "flex flex-col") do |form| %>
  <% if meal_plan.errors.any? %>
    <div id="error_explanation">
      <ul class="">
        <% meal_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="flex flex-col my-4">
    <div class="my-2">
      <div class="pb-2">
        <span class="" id="">
          <%= form.label :start_date %>
        </span>
      </div>
      <input type="date" id="meal_plan_start_date" name="meal_plan[start_date]" value="<%= meal_plan.start_date || Date.today %>"/>
    </div>

    <div class="my-2">
      <div class="pb-2">
        <span class="" id="">
          <%= form.label :end_date %>
        </span>
      </div>
      <input type="date" id="meal_plan_end_date" name="meal_plan[end_date]" value="<%= 6.days.after(Date.today) %>"/>
    </div>

    <div class="flex flex-col my-2">
      <%= form.label :meals, class: "pb-2" %>
      <%= form.collection_check_boxes :meal_ids, Meal.all, :id, :name do |meal_option| %>
        <div class="flex gap-x-2">
          <%= meal_option.check_box %>
          <%= meal_option.label %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="flex flex-col gap-y-2 my-4">
    <div class="flex gap-x-2">
      <%= form.button @meal_plan.new_record? ? "New meal plan" : "Save", class: primary_button_classes %>
      <%= button_to 'Back', meal_plans_path, :secondary%>
    </div>

    <div>
      <% unless @meal_plan.new_record? %>
        <%= button_to "Delete",
          @meal_plan,
          :tertiary,
          method: :delete,
          data: { turbo_confirm: "Are you sure?", turbo_method: :delete }
        %>
      <% end %>
    </div>
  </fieldset>
<% end %>
