<h1 class="text-xl sm:text-4xl font-bold text-red-400">This Week We Shall Mostly Be Eating</h1>

<% if @current_meal_plan.nil? %>
  <p>Nothing :(</p>
<% else %>
  <div class="font-bold">
    <p><%= @current_meal_plan.start_date.to_formatted_s(:long) %> --> <%= @current_meal_plan.end_date.to_formatted_s(:long) %></p>
  </div>
  <ul class="flex flex-col gap-y-2">
    <% @current_meal_plan.meal_plan_meals.each do |plan_meal| %>
      <li>
      <input
        id=<%= "checkbox-plan-meal-#{plan_meal.id}" %>
             class="form-check-input ms-1"
             type="checkbox"
             data-controller="checkbox"
             data-action="checkbox#toggle"
             data-checkbox-target="value"
             data-checkbox-url-value=<%= plan_meal_url(plan_meal.id) %>
          <% if plan_meal.eaten? %>
            checked
          <% end %>
          >
        <%= plan_meal.name %>
        <% if plan_meal.recipe_book_name.present? %>
          (<%= plan_meal.recipe_book_name %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <div 
    class="flex flex-col space-y-2"
    data-controller="populate-input" data-populate-input-url-value=<%= shopping_list_meal_plan_path(@current_meal_plan) %>>
    <div>
      <button class="" data-action="populate-input#populateInput">Generate Shopping List</button>
    </div>

    <div class="flex flex-col space-y-2 hidden" data-populate-input-target="inputContainer" data-controller="clipboard">
      <textarea id="shopping-list-input" class="resize-none rounded-md border-2 border-blue-500 shadow-sm h-32 w-fit"
        data-populate-input-target="input" data-clipboard-target="source"></textarea>

      <div>
        <button class="" data-action="clipboard#copy">Copy To Clipboard</button>
      </div>
      <div id="alert-placeholder" data-clipboard-target="alertPlaceholder"></div>
    </div>
  </div>
<% end %>

<%= button_to("Edit", edit_meal_plan_path(@current_meal_plan), :tertiary, icon: "pencil-solid.svg") %>
<%= link_to 'Past Weeks', past_meal_plans_path %>
<%= button_to("New Meal Plan", new_meal_plan_path, :primary) %>
