<%= form_with(model: recipe, data: { controller: "form-field-state" }) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation" class="text-red-400 font-bold">
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="flex flex-col my-4">
    <div class="my-2 flex gap-x-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: "rounded-sm border border-slate-400 border-solid" %>
    </div>

    <div class="my-2 flex gap-x-2">
      <%= form.label :recipe_book %>
      <%= form.select :recipe_book_id,
        RecipeBook.all.collect { |b| [ b.name, b.id ] },
        { include_blank: "" },
        { class: "bg-white rounded-sm border border-slate-400 border-solid p-1", data: { "form-field-state-target": "trigger", action: "change->form-field-state#updateDependentState" } } %>
    </div>

    <div class="my-2 flex gap-x-2">
      <%= form.label :page_number %>
      <%= form.text_field :page_number, class: "rounded-sm border border-slate-400 border-solid", data: { "form-field-state-target": "dependent" }, disabled: true %>
    </div>

    <div class="my-2 flex flex-col gap-y-2" >
      <%= form.label :ingredients %>
      <%= form.text_area :ingredients,
        class: "resize-none grow-0 shrink-0 rounded-sm border border-slate-400 border-solid sm:w-64 h-48 p-1" %>
      <div class="font-light text-sm">
        Enter ingredients separated by a comma or newline
      </div>
    </div>

    <div class="my-2 flex gap-x-2">
      <%= form.label :labels %>
      <%= form.collection_check_boxes :label_ids, Label.all, :id, :name,
        { class: "flex gap-x-4" } do |b| %>
        <% b.label { b.check_box + " " + b.text } %>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="flex flex-col gap-y-2 my-4">
    <div class="flex gap-x-2">
      <%= form.button "Save", class: primary_button_classes %>
      <%= button_to 'Back', recipes_path, :secondary%>
    </div>

    <div>
      <% unless @recipe.new_record? %>
        <%= button_to "Delete",
          @recipe,
          :tertiary,
          method: :delete,
          data: { turbo_confirm: "Are you sure?", turbo_method: :delete }
        %>
      <% end %>
    </div>
  </fieldset>
<% end %>
