<h1 class="text-xl sm:text-4xl font-bold"><%= @meal.name %></h1>

<% unless @meal.recipe_book.nil? %>
  <p>
  <strong>Recipe Book:</strong>
    <%= link_to @meal.recipe_book.name, recipe_book_path(@meal.recipe_book) %>
  </p>
  <% unless @meal.page_number.nil? %>
    <p>
    <strong>Page Number:</strong>
      <%= @meal.page_number %>
    </p>
  <% end %>
<% end %>

<% unless @meal.ingredients.blank? %>
  <strong>Ingredients</strong>
  <div><%= simple_format(@meal.ingredients) %></div>
<% end %>


<div class="flex gap-x-2">
  <%= button_to "Edit", edit_meal_path(@meal), :primary %>
  <%= button_to "Back", meals_path, :secondary %>
</div>
