<h1 class="text-xl sm:text-4xl font-bold"><%= @recipe_book.name %></h1>

<div class="flex flex-col my-2 gap-y-4">
  <div>
    <% if @recipe_book.recipes.present? %>
      <div class="grid grid-cols-2 gap-4">
        <div class="font-bold">Recipe</div>
        <div class="font-bold">Page Number</div>
        
        <% @recipe_book.recipes.each do |recipe| %>
          <div><%= button_to recipe.name, recipe, :tertiary %></div>
          <div><%= recipe.page_number %></div>
        <% end %>
      </div>

    <% else %>
      <span>No recipes in this book</span>
    <% end %>
  </div>

  <div class="flex gap-x-2">
    <%= button_to "Edit", edit_recipe_book_path(@recipe_book), :primary %>
    <%= button_to "Back", recipe_books_path, :secondary %>
  </div>
</div>
